html {
    background-color: #A1D490;
}

body {
  font-size: medium;
  font-family:Georgia, 'Palatino', 'Palatino Linotype', Times, 'Times New Roman', serif;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #339612;
    font-family: "Ubuntu";
}

footer a {
    color: #000000;
    text-decoration: none;
}

footer a:hover {
  color: #FFFFFF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #339612;
    padding: 15px 15px;
    display: center;
    height: 60px;
    border-radius: 10px 10px 10px 10px;
}

.app {
    margin-top: 10%;
}

h4 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    font-family: "Ubuntu";
}

span {
    color: green;
}

@media (max-width: 550px) {
    footer {
        text-align: center;
        font-family: "Ubuntu";
    }

    header {
        text-align: center;
    }
}
